/**
 * Get necessary fonts to project
 */


$verdeMusgo: #0d571a;
$verdePinho: #005952;
$gold: #DAA25A;
$cubic-bezier: cubic-bezier(.2,.3,.25,.9);
$body-dark: #333E48;
$fa-font-path: "../fonts/fontawesome";
@import "fonts";

html, body, .main-wrapper {
  height: 100%;
  //overflow-x: hidden;
}

a {
  color: #197b30;

  &:hover {
    color: #1da53e;
  }
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 25px;

  color: #636363;
}

/**
 * Reset video tag
 */
video {
  display: block;
}

/**
 * Button extends Bootstrap Buttons
 */

.btn-animated {
  position: relative;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.2s $cubic-bezier 0s;
  color: #a2ff00;
  display: inline-flex;
  margin: 0;
  padding: 0.875em 1.428571429em;
  letter-spacing: 0.2em;

  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -ms-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;

  &::before {
    content: attr(title);
  }

  &::after {
    content: '';
    width: 80%;
    left: 50%;
    height: 1px;
    bottom: 0;
    transform: translatex(-50%);
    transition: width 0.2s $cubic-bezier 0.4s, background 0.2s $cubic-bezier 0s;
    display: block;
    position: absolute;
    background: #a2ff00;
  }

  span {
    display: block;
    position: absolute;
    transition: all 0.2s $cubic-bezier;
    width: 100%;
    top: 0;
    left: 0;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: #a2ff00;
      transition: transform 0.2s $cubic-bezier;
    }

    // Left & Right Border
    &:first-child {
      height: 100%;

      &::before, &::after {
        width: 1px;
        height: 100%;
        bottom: 0;
        transform: scale3d(1, 0, 1);
        transform-origin: bottom center;
        transition: transform 0.2s $cubic-bezier 0.2s, background 0.2s $cubic-bezier 0s;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }

    // Top Borders
    &:last-child {
      width: 100%;
      height: 1px;

      &::before, &::after {
        height: 1px;
        width: 100%;
        bottom: 0;
        transform: scale3d(0, 1, 1);
        transition: transform 0.2s $cubic-bezier 0s, background 0.2s $cubic-bezier 0s;
      }
      &::before {
        left: 0;
        transform-origin: bottom left;
      }

      &::after {
        right: 0;
        transform-origin: bottom right;
      }
    }
  }

  &:hover {
    opacity: 1;
    outline: 0;
    //color: $body-dark !important;
    text-decoration: none;
    transition: color 0.2s $cubic-bezier 0s;

    /* Positioning */
    &::after {
      width: 100%;
      //background: #232F39;
      transition: width 0.2s $cubic-bezier 0s, background 0.2s $cubic-bezier 0s;
    }

    span {

      &:first-child {
        &::before, &::after {
          transform: scale3d(1, 1, 1);
          //background: #232F39;
          transition: transform 0.2s $cubic-bezier 0.2s, background 0.2s $cubic-bezier 0s;
        }
      }

      &:last-child {
        &::before, &::after {
          transform: scale3d(1, 1, 1);
          //background: #232F39;
          transition: transform 0.2s $cubic-bezier 0.4s, background 0.2s $cubic-bezier 0s;
        }
      }
    }
  }

  &:focus {
    background: #a2ff00;
    color: white !important;
    transition: all 0.2s $cubic-bezier;

    &::after {
      opacity: 0;
    }
  }

}
.play-video {
  display: block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 19px;
  cursor: pointer;

  &:before {
    content: "\f04b";
    pointer-events:none;
    width: 0;
    z-index: 1;
    height: 0;
    color: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 7px;
    margin-top: -7px;

  }

  &:after{
    width: 100%;
    pointer-events:none;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.33);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  &:hover{

    &:after{
      opacity: 0;
    }
  }
}
.btn {
  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -ms-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
  
  &.btn-bordered {
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #2dd661;
    letter-spacing: 0.2em;

    padding: 18px 45px;
    background: transparent;
    border: 1px solid #2dd661;
    border-radius: 0;

    &:hover, &:focus {
      background: #2dd661;
      color: #FFF;
    }

    &:hover {
      span {
        &:first-child:before {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          background: #232F39;
          -webkit-transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
          transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
          transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
          transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
        }

      }
    }

    @media only screen and (max-width: 768px) {
      font-size: 13px;
      padding: 13px 40px;
    }
  }


  &.btn-green {
    background:#2dd661;
    color: #FFF;
  }
  
  // Sizes
  &.btn--medium {
    padding-left: 20px;
    padding-right: 20px;

  }
}

/**
 * Section Header
 */
.section-header {
  margin-bottom: 68px;

  .section-title {
    font-family: "Brandon Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 35px;
    margin: 0 0 10px;
    text-align: center;
  }

  .section-description {
    text-align: center;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }

  &:after {
    content: '';
    height: 8px;
    width: 0;
    display: block;
    background: #000;
    margin: 20px auto 0;

    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &.onscreen{
    &:after{
      width: 190px;
    }
  }
}

/**
 * Titles
 */
.title {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px;

  &.title--medium {
    font-size: 30px;
    line-height: 43px;

    @media only screen and (max-width: 768px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  // Colors
  &.title--blackgreen {
    color: $verdePinho;
  }

  &.title--green {
    color: #93ba37;
  }

  &.title--border-bottom {
    font-size: 18px;
    letter-spacing: 0.28em;

    &:after {
      content: '';
      height: 9px;
      width: 0;
      display: block;
      background: #93ba37;
      margin: 10px 0 24px;

      -webkit-transition: ease .2s;
      -moz-transition: ease .2s;
      -ms-transition: ease .2s;
      -o-transition: ease .2s;
      transition: ease .2s;
    }

    &.onscreen{
      &:after{
        width:130px;
      }
    }
  }
}