@import "bower_components/font-awesome/scss/font-awesome";

// Font: RaleWay
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Medium.otf')  format('opentype'),
  url('../fonts/raleway/Raleway-Medium.woff') format('woff'),
  url('../fonts/raleway/Raleway-Medium.ttf')  format('truetype'),
  url('../fonts/raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
// Font: RaleWay Bold
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Bold.otf')  format('opentype'),
  url('../fonts/raleway/Raleway-Bold.woff') format('woff'),
  url('../fonts/raleway/Raleway-Bold.ttf')  format('truetype'),
  url('../fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

// Font: Brandon Medium
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandongrotesque/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Medium.otf')  format('opentype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Medium.woff') format('woff'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Medium.ttf')  format('truetype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

// Font: Brandon Bold
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandongrotesque/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Bold.otf')  format('opentype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Bold.woff') format('woff'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Bold.ttf')  format('truetype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

// Font: Brandon Black
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandongrotesque/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Black.otf')  format('opentype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Black.woff') format('woff'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Black.ttf')  format('truetype'),
  url('../fonts/brandongrotesque/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
  font-weight: 800;
  font-style: normal;
}
