@media screen and (max-device-width: 800px) {
  .main-header {
    background-size:cover;
    background: url('../images/cristo.png') no-repeat center;
  }
  #teaser {
    display: none;
  }
}

@media screen and (max-width: 1200px){
  .section{
    &.see-all {
      .slide-controls {
        .nav-prev {
          left: 17%;
        }
        .nav-next {
          left: 79%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
    line-height: 20px;
  }
  .main-header {
    min-height: inherit;

    .over-text{
      .header-logo {
        width: 90%;
      }
    }
  }
  .section-header{
    .section-title {
      font-size: 23px;
      line-height: 29px;
    }
  }

  .section {

    &.free-class{

      .player {
        padding: 0;

        .free-class-video {
          height: 185px;
        }
      }

    }

    &.see-all {
      .classes-list{
        .class-item {
          .class-wrap {
            .class-inner {
              .class-description {
                font-size: 18px;
                line-height: 28px;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    &.about {
      &:before {
        position: relative;
        width: 100%;
        height: 313px;
        right: 0;
        top: -50px;
      }
    }
  }
}