@import "basecss";
@import "animations";

.main-header{
  position: relative;
  text-align: center;
  color: #FFF;
  min-height: 80%;
  height: auto;
  overflow: hidden;

  .share-in {
    margin: 15px;
  }

  .over-text{
    visibility: hidden;

    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translate(-50%, -50%) scale(1.01);
    -ms-transform: translate(-50%, -50%) scale(1.01);
    -webkit-transform: translate(-50%, -50%) scale(1.01);
    transform: translate(-50%, -50%) scale(1.01);
    width: 100%;
    z-index: 1;

    .header-logo {
      margin: 0 auto 50px;
      fill: #fbd53b;
      width: 650px;
      height: auto;
      display: block;

      @media only screen and (min-width: 1441px) {
        width: 880px;
      }

      @media screen and (max-width: 1200px){
        width: 550px;
      }
    }
    .header-call-text {
      display: block;
      margin: 0 auto 50px;
      max-width: 510px;
      font-size: 14px;
    }

    .header-call-text, .header-logo {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }


    @media only screen and (max-width: 768px){
      margin-top: 43px;
      position: relative;
      left:0;
      top:0;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }

  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    opacity: 0.7;

    -webkit-transition: ease .2s;
    -moz-transition: ease .2s;
    -ms-transition: ease .2s;
    -o-transition: ease .2s;
    transition: ease .2s;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e4407+0,0a2401+100 */
    background: #1e4407; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #1e4407 0%, #0a2401 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #1e4407 0%,#0a2401 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #1e4407 0%,#0a2401 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4407', endColorstr='#0a2401',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

  // Video config
  video#teaser {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;

    -o-object-fit: cover;
    object-fit: cover;

    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

    transition: 1s opacity;

    @media only screen and (max-width: 900px){
      width: auto;
      height: 100%;
    }
  }

  @media only screen and (max-width: 768px){
    padding: 0 0 36px;
    min-height: 600px;
  }

  @media screen and (orientation: landscape) and (max-width: 768px) {
      min-height: 475px;

    .over-text {
      .header-logo {
        max-width: 300px;
      }
    }
  }

  @media only screen and (min-width: 1400px){
    min-height: 845px;
  }
}

.homevid-wrap {
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  z-index: -1000;

  &.visible {
    display: block;
    z-index: 1000;
    opacity: 1;
    position: fixed;
  }

  .video-js {
    width: 100%;
    height: 100%;

    video {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background: #646464;
    }

    .vjs-control-bar {
      bottom: 100px;
      left: 50%;
      opacity: 0;
      background: none;

      -moz-transform: translate(-50%, 40px);
      -ms-transform: translate(-50%, 40px);
      -webkit-transform: translate(-50%, 40px);
      transform: translate(-50%, 40px);

      -moz-transition: opacity 0.2s, -moz-transform 0.3s;
      -o-transition: opacity 0.2s, -o-transform 0.3s;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
      transition: opacity 0.2s, transform 0.3s;
      width: 75%;

      @media only screen and (max-width: 768px) {
        bottom: 40px;
      }
    }
  }

  .close-video{
    background: url(../images/bt_close.svg);
    cursor: pointer;
    height: 44px;
    opacity: 0;
    position: fixed;
    right: 40px;
    top: 40px;
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    -o-transition: opacity 0.2s, -o-transform 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    width: 44px;
    z-index: 1001;
  }
  
  &.mousing {

    .video-js{
      .vjs-control-bar {
        opacity: 1;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
      }
    }
    .close-video {
      opacity: 1;
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
  }
}

html {
  &.playing {
    .main-header {
      .over-text {

        .header-logo {
          animation-name: fadeOutUp;
          -webkit-animation-name: fadeOutUp;


        }
        .header-call-text {
          animation-name: fadeOutDown;
          -webkit-animation-name: fadeOutDown;

        }
      }

      &:before {
        opacity:0;
      }
    }

  }

  &.returning {
    .main-header {
      .over-text {
        visibility: visible;
        .header-logo {
          animation-name: fadeInDown;
          -webkit-animation-name: fadeInDown;


        }
        .header-call-text {
          animation-name: fadeInUp;
          -webkit-animation-name: fadeInUp;
        }
      }

      &:before {
        opacity:.7;
      }
    }
  }
}

// Section styles
.section {
  padding: 50px 0;

  &.free-class {
    background: #FFF url(../images/free-class-background.jpg) no-repeat;
    background-size: cover;

    .section-header {
      margin-bottom: 25px;

      .section-title {
        font-size: 28px;
        color: $verdeMusgo;
      }
      &:after{
        background: $verdeMusgo;
      }
    }

    .caption {
      max-width:479px;
      display: block;
      margin: 0 auto;
      margin-bottom: 45px;
    }

    .player {
      position: relative;
      padding:0 150px;
      margin:0 auto;

      &:after{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        content: '';
        z-index:-1;
        background: #000;
        opacity: 0;

        -webkit-transition: ease .2s;
        -moz-transition: ease .2s;
        -ms-transition: ease .2s;
        -o-transition: ease .2s;
        transition: ease .2s;
      }

      .see-all-button{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        margin-left: -125px;
        margin-top: -25px;

        opacity: 0;

        -webkit-transition: ease .2s;
        -moz-transition: ease .2s;
        -ms-transition: ease .2s;
        -o-transition: ease .2s;
        transition: ease .2s;
      }

      &.finish {
        &:after{
          z-index:1;
        }
        .see-all-button{
          opacity: 1;
          z-index: 2;
        }

        .vjs-control-bar {
          opacity:0;
        }
      }

      .share-in {
        margin: 15px;
      }

      @media only screen and (max-width: 1200px){
        padding:0;
      }

      .free-class-video {
        width: 100%;
        margin-bottom: 25px;
        height: 473px;

        .vjs-big-play-button {
          left: 50%;
          top: 50%;
          background: none;
          border: 0;
          font-size: 70px;
          margin-top: -63px;
          margin-left: -105px;
        }
        .vjs-poster {
          background-size: cover;
        }
      }

      .caption {
        text-align: center;

        .description {
          max-width: 490px;
          display: block;
          margin: 0 auto;
        }
      }

      .IIV::-webkit-media-controls-play-button,
      .IIV::-webkit-media-controls-start-playback-button {
        opacity: 0;
        pointer-events: none;
        width: 5px;
      }

      .skip-intro {
        position: absolute;
        /* bottom: 0; */
        z-index: 1;
        bottom: 31px;
        top: inherit;
        right: 0;
        left: inherit;

        background: rgba(255,255,255,0.1);
        border: 1px solid #FFF;
        border-right: 0;
        color: #FFF;
        padding: 9px 30px;
        font-size: 19px;
        opacity:0;

        -webkit-transition: ease .2s;
        -moz-transition: ease .2s;
        -ms-transition: ease .2s;
        -o-transition: ease .2s;
        transition: ease .2s;

      }

    }

  }
  &.see-all {
    position: relative;
    color: #FFF;
    min-height: 750px;
    padding-bottom:0;
    background: #4cad68;
    
    .section-header{
      &:after{
        background: #406618;
        display: none;
      }

      .btn-animated {
        display: block;
        margin:0 auto;
      }
    }

    .classes-list {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      .owl-controls {
        .owl-nav {
          position: absolute;
          top: 50%;
          left: 0;
          width: 33.33%;
          margin: 0 33.33%;

          .owl-prev, .owl-next {
            font-size: 50px;
            font-family: FontAwesome;
          }
          .owl-prev {
            float: left;
            margin-left: -37px;

            &:before {
              content: "\f104";
            }
          }
          .owl-next {
            float: right;
            margin-right: -37px;

            &:before {
              content: "\f105";
            }
          }
        }
      }

      .owl-item{
        &.center {
          .class-item {
            .class-thumbnail {
              cursor: pointer;
            }
          }
        }
        &:not(.center){
          cursor: pointer;
          .class-item {
            .class-wrap {
              .class-thumbnail {
                &.play-video {
                  &:hover{
                    &:after {
                      opacity:1;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .class-item{
        padding: 0 15px;
        float: left;

        .class-wrap  {
          padding: 25px 15px 50px;
          background: #FFF;

          .class-thumbnail {
            margin: -25px -15px 0;

            .share-in {
              position: absolute;
              right: 15px;
              top: 15px;
            }

            &.play-video{
              font-size: 35px;

              &:before{
                margin-left: 0;
              }
            }

          }

          .class-inner {
            padding: 30px 0 0 0;
            color: #19a53a;

            .class-title {
              font-family: 'Brandon Grotesque', sans-serif;
              color: $verdePinho;
              font-size: 20px;
              line-height: 25px;
              text-transform: uppercase;
            }

            .class-description {
              font-size: 18px;
              line-height: 25px;
              text-align: center;
              max-width: 80%;
              font-family: 'Brandon Grotesque';
              font-weight: 500;
              text-transform: uppercase;
              margin: 0 auto 25px;

              strong {
                font-weight: 800;
                color: #197b30;
              }
            }
          }

          .class-buy-action {
            margin: 0 auto;
            margin-bottom:15px;

          }
        }
      }

      @media only screen and (max-width: 768px){
        &.owl-carousel {
          display: block;
        }

        .class-item {
          display: block;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 38px;
          }
        }
      }
    }

    .slide-controls {
      position: absolute;
      top: 50%;
      left:0;
      width: 100%;


    }

    @media only screen and (min-width: 768px){
      .owl-carousel {
        .owl-item {
          .class-item {
            opacity: .3;
            transform: scale(.9);
            -webkit-transition: ease .2s;
            -moz-transition: ease .2s;
            -ms-transition: ease .2s;
            -o-transition: ease .2s;
            transition: ease .2s;
          }

          &.center{
            .class-item {
              opacity: 1;
              transform: scale(1);
            }
          }

          &.at-left {
            .class-item {
              transform: scale(.9) translateX(-40px);

            }
          }
          &.at-right{
            .class-item {
              transform: scale(.9) translateX(40px);
            }
          }
        }
      }
    }

  }
  &.about {
    position: relative;
    padding:0;
    height: 774px;

    .container{
      height: 100%;
    }

    .main-content {
      padding: 50px 0;

      .chef-name {
        font-family: 'Brandon Grotesque', sans-serif;
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 25px;
        text-transform: uppercase;
        color: #005952;
        font-weight:800;
      }

      .about-content {
        margin-bottom: 144px;
        p {
          margin-bottom: 25px;
        }

        @media only screen and (max-width:768px){
          margin-bottom: 50px;
        }
      }

      .img-responsive {
        margin-bottom:15px;
      }

      .text-info {
        font-family: 'Brandon Grotesque', sans-serif;
        font-size: 18px;
        line-height: 18px;
        display: block;
        margin-bottom: 30px;
        color: #3cb878;
        text-transform: uppercase;
        letter-spacing: 0.36em;
      }

      .about-info {
        font-size: 12px;
        line-height: 22px;

        .about-app {

          margin-bottom: 50px;
        }
        .about-embratur {
          color: #197b30;
          margin-bottom: 80px;
        }

        .play-video {
          img {
            width: 100%;
          }
        }

        .site-link{
          font-weight:700;
        }
      }
    }

    .adelaide-hover{
      height: 100%;

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;

        background: #FFF url(../images/misc/adelaide_engler.jpg) no-repeat;
        background-size: cover;
      }

      .social-items {
        opacity: 0;
        z-index: 1;
        position: relative;
        top: 50%;
        margin-top: -75px;
        text-align: center;

        ul {
          padding: 0;
          list-style: none;

          li {
            display: inline-block;
            border: 2px solid #FFF;
            border-radius: 100%;
            width: 58px;
            height: 58px;
            line-height: 58px;
            text-align: center;

            a{
              color: #FFF;
              font-size: 25px;
              display: block;
              margin: -2px -2px 0 0;
            }

            &:hover{
              opacity: 0.7;
            }
          }
        }

        .follow-up{
          font-family: 'Brandon Grotesque', sans-serif;
          font-weight: 500;
          text-align: center;
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          color: #FFF;

          .yellow{
            color: yellow;
          }
  
          &:after {
            content: '';
            height: 8px;
            display: block;
            margin:20px auto 0;
            background: yellow;
            min-width: 70px;
            width: 188px;
          }
        }
      }

      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left:0;
        top: 0;
        opacity: 0;
        background: rgba(41, 121, 87, 0.59);

        -webkit-transition: ease .2s;
        -moz-transition: ease .2s;
        -ms-transition: ease .2s;
        -o-transition: ease .2s;
        transition: ease .2s;
      }

      &:hover{
        &:after{
          opacity: 1;
        }

        .social-items{
          opacity: 1;
        }
      }
    }

    @media only screen and (max-width: 768px){
      height: auto;

      .adelaide-hover{
        height: 250px;
        width: 100%;
        float: none !important;
        margin: -19px 0 15px;

        &:before {
          background-position: 0 -20px;
        }

        .social-items {
          width: 100%;
          position: absolute;
          top:55%;

        }
      }
      .main-content {
        padding-top: 0;
      }
    }
  }
}

.footer-website {
  padding: 36px 0 50px 0;
  //padding: 22px 0 50px;
  background: #2c342e;
  color: #768565;
  font-size: 12px;
  line-height: 33px;
  text-align: center;
  img{
    display: inline-block;
  }
  
  .logo-influid {
    vertical-align: middle;
    margin-left: 15px;
  }
}

.modalPlayer {
  .modal-content{
    position: relative;

    &:after{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      content: '';
      z-index:-1;
      background: #000;
      opacity: 0;

      -webkit-transition: ease .2s;
      -moz-transition: ease .2s;
      -ms-transition: ease .2s;
      -o-transition: ease .2s;
      transition: ease .2s;
    }

    .close{
      position: absolute;
      top: 15px;
      border: 1px solid #FFF;
      border-radius: 100%;
      width: 45px;
      padding: 0;
      color: #FFF;
      right: 15px;
      font-size: 18px;
      height: 45px;
      z-index: 0;
      opacity: 0;

      -webkit-transition: ease .2s;
      -moz-transition: ease .2s;
      -ms-transition: ease .2s;
      -o-transition: ease .2s;
      transition: ease .2s;
    }
    .see-all-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      margin-left: -125px;
      margin-top: -25px;

      opacity: 0;

      -webkit-transition: ease .2s;
      -moz-transition: ease .2s;
      -ms-transition: ease .2s;
      -o-transition: ease .2s;
      transition: ease .2s;
    }
  }

  &.finish {
    .modal-content{

      .vjs-control-bar {
        opacity:0;
      }
      &:after{
        z-index:1;
      }

      .close{
        opacity: 1;
        z-index: 2;
      }
      .see-all-button {
        opacity: 1;
        z-index: 2;
      }
    }
  }

 .video-js {
   width: 100%; height: auto;
 .vjs-tech {
   position: relative;
 }
 }

  @media all and (max-width: 768px){

    .modal-backdrop {
      opacity: 1;
    }
  }
}

video.iphone {
  width:100%;
  height:auto;
  z-index: 1;
  position: relative;
}

.iphonePlayer {
  .share-in {
    position: absolute;
  }
}

// Components
.sign-in,
.share-in {
  color: rgba(255, 255, 255, 0.74);
  z-index: 45;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.74);
  margin: 5px;
  border-radius: 2px;
  font-size: 11px;
  width: auto;
  height: auto;
  padding: 0 12px;
  font-family: 'Brandon Grotesque';
  font-weight: normal;
  text-transform: uppercase;

  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -ms-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
  cursor: pointer;

  &:hover{
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }
}
.sign-in {
  float: none !important;
  display: inline-block;
  position: absolute;
  top: 43px;
  right: 15px;
  margin: 15px;
}
.share-options {
  display: none;
  position: absolute;
  top: -2px;
  right:-2px;
  font-size: 25px;
  padding: 0;
  list-style: none;
  width: 147px;

  &:before {
    content: '';
    transform-origin: top left;
    display: block;
    background: #FFF;
    width:100%;
    height:100%;
    left:0;
    top:0;
    border-radius: 50px 0 50px 50px;
    position: absolute;

    transition: all 0.3s;
    transform: scale(0.1);
    opacity: 0;
  }

  li {
    position: relative;
    float:left;
    display: block;
    cursor: pointer;
    height: 48px;
    width: 48px;
    line-height: 48px;

    z-index: 11;
    text-align: center;
    transform-origin: 50% 100%;
    transform: scale(0.1);
    transition: all 0.3s;

    outline: none;
    will-change: transform;
    opacity: 0;

    &:nth-child(1){
      transition-delay: 0.03s;
    }

    &:nth-child(2){
      transition-delay: 0.09s;
    }

    &:nth-child(3){
      transition-delay: 0.012s;
    }

    &:nth-child(4){
      transition-delay: 0.015s;
    }
  }

  &.active {
    display: block;

    &:before {
      transform: scale(1);
      opacity: 1;
    }

    li {
      opacity: 1;
      transform: scale(0.8) translateY(-7px);
    }
  }
}

@import "medias";
